# Utilising the dummy data for each city

In [26]:
import pandas as pd
import geopandas as gpd
import json
import os
import sys
# go up one level from notebooks/ and into src/
sys.path.append(os.path.abspath("../src"))
import schema

In [27]:
json_path = "../data/Location/reallocate_all_pilots.geojson"
with open(json_path, "r") as f:
    pilot_geometry = gpd.read_file(f)

#Fix pilot names
pilot_geometry["pilot"] = pilot_geometry["city"] + "_" + pilot_geometry["pilot"].str.lstrip("Pilot")
pilot_geometry.head()

# If a pilot has multiple geometries, dissolve them into one
pilot_geometry = pilot_geometry.dissolve(by="pilot", as_index=False)
print("The shape of the pilot geometry is:", pilot_geometry.shape)
pilot_geometry["pilot"].unique()

The shape of the pilot geometry is: (7, 4)

array(['Barcelona_1', 'Budapest_1', 'Budapest_2', 'Gothenburg_2',
       'Heidelberg_1', 'Utrecht_1', 'Utrecht_2'], dtype=object)

In [58]:
csv_path = "../data/Location/pilot_static_data.csv"
with open(csv_path, "r") as f:
    pilot_coordinates = pd.read_csv(f,sep="	")

print(pilot_coordinates.shape)

pilot_coordinates["lat"] = pilot_coordinates["lat"].astype(str).str.replace(",", ".")
pilot_coordinates["lon"] = pilot_coordinates["lon"].astype(str).str.replace(",", ".")

pilot_coordinates["geometry"] = gpd.points_from_xy(pilot_coordinates.lon, pilot_coordinates.lat)
pilot_coordinates = gpd.GeoDataFrame(pilot_coordinates, geometry="geometry", crs="EPSG:4326")
print(pilot_coordinates.shape)
pilot_coordinates = pilot_coordinates[["City","geometry"]].copy()
pilot_coordinates.head()

(15, 21)
(15, 22)

           City                   geometry
0  Gothenburg_1  POINT (11.97456 57.70887)
1  Gothenburg_2  POINT (11.99456 57.72887)
2  Heidelberg_1   POINT (8.67243 49.39875)
3  Heidelberg_2   POINT (8.65243 49.37875)
4   Barcelona_1   POINT (2.18138 41.38878)

In [7]:
json_path = "../data/Dummy/pilot_kpis.json"
with open(json_path, "r") as f:
    pilot_data = json.load(f)

# Flatten the nested structure
rows = []
for pilot, kpis in pilot_data.items():
    for kpi in kpis:
        rows.append({
            "pilot": pilot,
            **kpi  # expands all KPI keys
        })

df_json = pd.DataFrame(rows)
df_json

,pilot,name,theme,kpi_theme_id,unit,baseline_value,post_value
0,Barcelona_1,Number of participants engaged,Engagement,1,counts,57.45,143.59
1,Barcelona_1,reported risk factors affecting perceived road...,road safety,2,counts,93.20,97.83
2,Barcelona_2,Engagement in co-creation,Engagement,1,counts,35.60,40.28
3,Barcelona_2,Increase in users of special services through DRT,Accessibility,3,counts,25.81,132.60
4,Heidelberg_1,Engagement in co-creation,Engagement,1,counts,80.11,112.05
5,Heidelberg_1,Collaboration agreement,Engagement,1,counts,22.06,146.09
6,Heidelberg_2,Pedestrian and Cyclist counts,road safety,2,counts,103.24,47.60
7,Heidelberg_2,Impact on traffic flows,road safety,2,Vehicles/24h,1181.82,1183.40
8,Heidelberg_2,Conversion from impermeable to permeable/veget...,Environment,4,%,30.42,52.48
9,Gothenburg_1,Engagement in co-creation,Engagement,1,Counts,85.92,86.21
10,Gothenburg_1,Active mobility mode share,Mobility,5,%,61.19,13.95
11,Gothenburg_2,Accessibility active modes,Accessibility,3,%,29.21,36.64
12,Budapest_1,Active mobility mode share,Mobility,5,Counts,510.46,1042.21
13,Budapest_1,Active mobility mode share (schoolchildren),Mobility,5,%,19.97,51.42
14,Budapest_1,Green area expansion,Environment,4,%,59.24,4.65
15,Budapest_2,Active Mobility mode share,Mobility,5,Counts,96.45,75.35
16,Lyon_1,Active mobility mode share,Mobility,5,Counts,63.90,77.44
17,Lyon_2,test,test,test,test,117.94,70.42
18,Bologna,Active mobility mode share,Mobility,5,%,30.46,9.77
19,Bologna,Pedestrian and Cyclist comfort rating,road safety,2,Rating,7.16,4.96
20,Tampere,Active mobility mode share/school travel mode ...,Mobility,5,Counts,67.32,104.57
21,Tampere,Engagement in co-creation,Engagement,1,Counts,20.69,56.37
22,Utrecht,Active mobility mode share,Mobility,5,Counts,75.53,119.63
23,Utrecht,Engagement in co-creation,Engagement,2,%,26.23,22.80
24,Warsaw,Number of participants in co-creation workshops,Engagement,2,Counts,92.80,76.64
25,Warsaw,Active mobility mode share,Mobility,5,%,96.96,77.51
26,Warsaw,Active mobility adoption,Mobility,5,%,93.95,89.48
27,Zagreb,Public space reallocation area,Accessibility,3,m²,31.91,64.92
28,Zagreb,Pedestrian and cyclist comfort index,road safety,2,%,0.09,0.20
29,Zagreb,Active mobility mode share,Mobility,5,%,4.52,32.53

In [8]:
model = schema.AllCitiesKPIs.model_validate(pilot_data)
print(model.get_city("Barcelona_1"))

[KPI(name='Number of participants engaged', theme='Engagement', kpi_theme_id='1', unit='counts', baseline_value=57.45, post_value=143.59), KPI(name='reported risk factors affecting perceived road safety', theme='road safety', kpi_theme_id='2', unit='counts', baseline_value=93.2, post_value=97.83)]

In [9]:
model.get_city("Barcelona_1")

[KPI(name='Number of participants engaged', theme='Engagement', kpi_theme_id='1', unit='counts', baseline_value=57.45, post_value=143.59),
 KPI(name='reported risk factors affecting perceived road safety', theme='road safety', kpi_theme_id='2', unit='counts', baseline_value=93.2, post_value=97.83)]

# Explore Join

In [61]:
join_results = df_json.merge(pilot_geometry, on="pilot", how="left")
print("The original shape is:", df_json.shape, "and the joined shape is:", join_results.shape)

# If a pilot has no geometry, merge with the coordinates dataset
join_results = join_results.merge(pilot_coordinates, left_on="pilot", right_on="City", how="left", suffixes=("", "_coord"))
print("The shape after merging with coordinates is:", join_results.shape)

# If geometry is missing, use the coordinates geometry
join_results["geometry"] = join_results["geometry"].combine_first(join_results["geometry_coord"])
join_results = join_results.drop(columns=["City", "geometry_coord"])
print("The final shape is:", join_results.shape)
join_results.head()

The original shape is: (30, 7) and the joined shape is: (30, 10)
The shape after merging with coordinates is: (30, 12)
The final shape is: (30, 10)

,pilot,name,theme,kpi_theme_id,unit,baseline_value,post_value,geometry,id,city
0,Barcelona_1,Number of participants engaged,Engagement,1,counts,57.45,143.59,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona
1,Barcelona_1,reported risk factors affecting perceived road...,road safety,2,counts,93.20,97.83,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona
2,Barcelona_2,Engagement in co-creation,Engagement,1,counts,35.60,40.28,POINT (2.16138 41.36878),NaN,NaN
3,Barcelona_2,Increase in users of special services through DRT,Accessibility,3,counts,25.81,132.60,POINT (2.16138 41.36878),NaN,NaN
4,Heidelberg_1,Engagement in co-creation,Engagement,1,counts,80.11,112.05,"MULTIPOLYGON (((8.69101 49.41531, 8.69138 49.4...",5,Heidelberg

In [60]:
join_results

,pilot,name,theme,kpi_theme_id,unit,baseline_value,post_value,geometry,id,city,City,geometry_coord
0,Barcelona_1,Number of participants engaged,Engagement,1,counts,57.45,143.59,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona,Barcelona_1,POINT (2.18138 41.38878)
1,Barcelona_1,reported risk factors affecting perceived road...,road safety,2,counts,93.20,97.83,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona,Barcelona_1,POINT (2.18138 41.38878)
2,Barcelona_2,Engagement in co-creation,Engagement,1,counts,35.60,40.28,None,NaN,NaN,Barcelona_2,POINT (2.16138 41.36878)
3,Barcelona_2,Increase in users of special services through DRT,Accessibility,3,counts,25.81,132.60,None,NaN,NaN,Barcelona_2,POINT (2.16138 41.36878)
4,Heidelberg_1,Engagement in co-creation,Engagement,1,counts,80.11,112.05,"MULTIPOLYGON (((8.69101 49.41531, 8.69138 49.4...",5,Heidelberg,Heidelberg_1,POINT (8.67243 49.39875)
5,Heidelberg_1,Collaboration agreement,Engagement,1,counts,22.06,146.09,"MULTIPOLYGON (((8.69101 49.41531, 8.69138 49.4...",5,Heidelberg,Heidelberg_1,POINT (8.67243 49.39875)
6,Heidelberg_2,Pedestrian and Cyclist counts,road safety,2,counts,103.24,47.60,None,NaN,NaN,Heidelberg_2,POINT (8.65243 49.37875)
7,Heidelberg_2,Impact on traffic flows,road safety,2,Vehicles/24h,1181.82,1183.40,None,NaN,NaN,Heidelberg_2,POINT (8.65243 49.37875)
8,Heidelberg_2,Conversion from impermeable to permeable/veget...,Environment,4,%,30.42,52.48,None,NaN,NaN,Heidelberg_2,POINT (8.65243 49.37875)
9,Gothenburg_1,Engagement in co-creation,Engagement,1,Counts,85.92,86.21,None,NaN,NaN,Gothenburg_1,POINT (11.97456 57.70887)
10,Gothenburg_1,Active mobility mode share,Mobility,5,%,61.19,13.95,None,NaN,NaN,Gothenburg_1,POINT (11.97456 57.70887)
11,Gothenburg_2,Accessibility active modes,Accessibility,3,%,29.21,36.64,"POLYGON ((11.98866 57.69256, 11.99284 57.69261...",9,Gothenburg,Gothenburg_2,POINT (11.99456 57.72887)
12,Budapest_1,Active mobility mode share,Mobility,5,Counts,510.46,1042.21,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest,Budapest_1,POINT (19.04024 47.49791)
13,Budapest_1,Active mobility mode share (schoolchildren),Mobility,5,%,19.97,51.42,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest,Budapest_1,POINT (19.04024 47.49791)
14,Budapest_1,Green area expansion,Environment,4,%,59.24,4.65,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest,Budapest_1,POINT (19.04024 47.49791)
15,Budapest_2,Active Mobility mode share,Mobility,5,Counts,96.45,75.35,"MULTIPOLYGON (((19.06413 47.48968, 19.06613 47...",10,Budapest,Budapest_2,POINT (19.06024 47.48791)
16,Lyon_1,Active mobility mode share,Mobility,5,Counts,63.90,77.44,None,NaN,NaN,Lyon_1,POINT (4.83238 45.76463)
17,Lyon_2,test,test,test,test,117.94,70.42,None,NaN,NaN,Lyon_2,POINT (4.81238 45.75463)
18,Bologna,Active mobility mode share,Mobility,5,%,30.46,9.77,None,NaN,NaN,NaN,None
19,Bologna,Pedestrian and Cyclist comfort rating,road safety,2,Rating,7.16,4.96,None,NaN,NaN,NaN,None
20,Tampere,Active mobility mode share/school travel mode ...,Mobility,5,Counts,67.32,104.57,None,NaN,NaN,NaN,None
21,Tampere,Engagement in co-creation,Engagement,1,Counts,20.69,56.37,None,NaN,NaN,NaN,None
22,Utrecht,Active mobility mode share,Mobility,5,Counts,75.53,119.63,None,NaN,NaN,NaN,None
23,Utrecht,Engagement in co-creation,Engagement,2,%,26.23,22.80,None,NaN,NaN,NaN,None
24,Warsaw,Number of participants in co-creation workshops,Engagement,2,Counts,92.80,76.64,None,NaN,NaN,NaN,None
25,Warsaw,Active mobility mode share,Mobility,5,%,96.96,77.51,None,NaN,NaN,NaN,None
26,Warsaw,Active mobility adoption,Mobility,5,%,93.95,89.48,None,NaN,NaN,NaN,None
27,Zagreb,Public space reallocation area,Accessibility,3,m²,31.91,64.92,None,NaN,NaN,NaN,None
28,Zagreb,Pedestrian and cyclist comfort index,road safety,2,%,0.09,0.20,None,NaN,NaN,NaN,None
29,Zagreb,Active mobility mode share,Mobility,5,%,4.52,32.53,None,NaN,NaN,NaN,None

In [24]:
join_results

,pilot,name,theme,kpi_theme_id,unit,baseline_value,post_value,geometry,id,city
0,Barcelona_1,Number of participants engaged,Engagement,1,counts,57.45,143.59,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona
1,Barcelona_1,reported risk factors affecting perceived road...,road safety,2,counts,93.20,97.83,"MULTIPOLYGON (((2.1232 41.37588, 2.14844 41.37...",0,Barcelona
2,Barcelona_2,Engagement in co-creation,Engagement,1,counts,35.60,40.28,None,NaN,NaN
3,Barcelona_2,Increase in users of special services through DRT,Accessibility,3,counts,25.81,132.60,None,NaN,NaN
4,Heidelberg_1,Engagement in co-creation,Engagement,1,counts,80.11,112.05,"MULTIPOLYGON (((8.69101 49.41531, 8.69138 49.4...",5,Heidelberg
5,Heidelberg_1,Collaboration agreement,Engagement,1,counts,22.06,146.09,"MULTIPOLYGON (((8.69101 49.41531, 8.69138 49.4...",5,Heidelberg
6,Heidelberg_2,Pedestrian and Cyclist counts,road safety,2,counts,103.24,47.60,None,NaN,NaN
7,Heidelberg_2,Impact on traffic flows,road safety,2,Vehicles/24h,1181.82,1183.40,None,NaN,NaN
8,Heidelberg_2,Conversion from impermeable to permeable/veget...,Environment,4,%,30.42,52.48,None,NaN,NaN
9,Gothenburg_1,Engagement in co-creation,Engagement,1,Counts,85.92,86.21,None,NaN,NaN
10,Gothenburg_1,Active mobility mode share,Mobility,5,%,61.19,13.95,None,NaN,NaN
11,Gothenburg_2,Accessibility active modes,Accessibility,3,%,29.21,36.64,"POLYGON ((11.98866 57.69256, 11.99284 57.69261...",9,Gothenburg
12,Budapest_1,Active mobility mode share,Mobility,5,Counts,510.46,1042.21,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest
13,Budapest_1,Active mobility mode share (schoolchildren),Mobility,5,%,19.97,51.42,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest
14,Budapest_1,Green area expansion,Environment,4,%,59.24,4.65,"POLYGON ((19.06319 47.48889, 19.06472 47.48886...",4,Budapest
15,Budapest_2,Active Mobility mode share,Mobility,5,Counts,96.45,75.35,"MULTIPOLYGON (((19.06413 47.48968, 19.06613 47...",10,Budapest
16,Lyon_1,Active mobility mode share,Mobility,5,Counts,63.90,77.44,None,NaN,NaN
17,Lyon_2,test,test,test,test,117.94,70.42,None,NaN,NaN
18,Bologna,Active mobility mode share,Mobility,5,%,30.46,9.77,None,NaN,NaN
19,Bologna,Pedestrian and Cyclist comfort rating,road safety,2,Rating,7.16,4.96,None,NaN,NaN
20,Tampere,Active mobility mode share/school travel mode ...,Mobility,5,Counts,67.32,104.57,None,NaN,NaN
21,Tampere,Engagement in co-creation,Engagement,1,Counts,20.69,56.37,None,NaN,NaN
22,Utrecht,Active mobility mode share,Mobility,5,Counts,75.53,119.63,None,NaN,NaN
23,Utrecht,Engagement in co-creation,Engagement,2,%,26.23,22.80,None,NaN,NaN
24,Warsaw,Number of participants in co-creation workshops,Engagement,2,Counts,92.80,76.64,None,NaN,NaN
25,Warsaw,Active mobility mode share,Mobility,5,%,96.96,77.51,None,NaN,NaN
26,Warsaw,Active mobility adoption,Mobility,5,%,93.95,89.48,None,NaN,NaN
27,Zagreb,Public space reallocation area,Accessibility,3,m²,31.91,64.92,None,NaN,NaN
28,Zagreb,Pedestrian and cyclist comfort index,road safety,2,%,0.09,0.20,None,NaN,NaN
29,Zagreb,Active mobility mode share,Mobility,5,%,4.52,32.53,None,NaN,NaN