# Import a dataset to REALLOCATE CKAN

In [7]:
from ckanapi import RemoteCKAN
from dotenv import load_dotenv
import os
import pandas as pd
from pathlib import Path
import requests
import io

In [8]:
# ‚öôÔ∏è Step 2: Set up connection and metadata
DATASET_NAME = "streets_accessibility"


CKAN_URL = "https://reallocate-ckan.iti.gr"
API_KEY = os.getenv("REALLOCATE_KEY")
ckan = RemoteCKAN(CKAN_URL, apikey=API_KEY)
ORG_INFO = ckan.action.organization_show(id="bsc")

# Get dataset metadata
dataset = ckan.action.package_show(id=DATASET_NAME)

## Load data

In [9]:
# üîç 3. Locate CSV and Parquet file resource URLs

csv_url = None
parquet_url = None

for res in dataset["resources"]:
    fmt = res["format"].lower()
    if fmt == "csv" and not csv_url:
        csv_url = res["url"]
    elif fmt == "parquet" and not parquet_url:
        parquet_url = res["url"]

print("‚úÖ Found CSV:", bool(csv_url))
print("‚úÖ Found Parquet:", bool(parquet_url))

‚úÖ Found CSV: True
‚úÖ Found Parquet: True

In [9]:
if csv_url:
    response = requests.get(csv_url, headers={"Authorization": API_KEY})
    if response.status_code == 200:
        df_csv = pd.read_csv(io.BytesIO(response.content))
        print("‚úÖ CSV loaded from private resource")
        display(df_csv.head())
    else:
        print(f"‚ùå Failed to download CSV: {response.status_code}")
else:
    print("‚ùå CSV URL not found")

‚úÖ CSV loaded from private resource

/var/folders/v1/1n4sj6l570n0zlr6q42nxf9c0000gn/T/ipykernel_25962/2834295937.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_csv = pd.read_csv(io.BytesIO(response.content))

,Gis_ID,N_Gis,Gis_X,Gis_Y,Data d'Alta,Data de Baixa,Situaci√≥,Barri,Districte,Tipus,Quantitat,Mesura
0,53,1,428568.7713,4.578089e+06,13/4/2018 0:00:00,NaN,Tram,12. la Marina del Prat Vermell,03. Sants-Montjuic,Graons/Resalts,NaN,NaN
1,54,2,428561.4783,4.578085e+06,13/4/2018 0:00:00,NaN,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,NaN,NaN,NaN
2,55,3,428547.7503,4.578095e+06,13/4/2018 0:00:00,NaN,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,NaN,NaN,400.0
3,75,4,431202.6671,4.582812e+06,16/4/2018 0:00:00,NaN,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN
4,76,5,431179.3580,4.582835e+06,16/4/2018 0:00:00,NaN,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN

‚úÖ CSV loaded from private resource

/tmp/ipykernel_8873/2834295937.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_csv = pd.read_csv(io.BytesIO(response.content))

,Gis_ID,N_Gis,Gis_X,Gis_Y,Data d'Alta,Data de Baixa,Situaci√≥,Barri,Districte,Tipus,Quantitat,Mesura
0,53,1,428568.7713,4.578089e+06,13/4/2018 0:00:00,NaN,Tram,12. la Marina del Prat Vermell,03. Sants-Montjuic,Graons/Resalts,NaN,NaN
1,54,2,428561.4783,4.578085e+06,13/4/2018 0:00:00,NaN,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,NaN,NaN,NaN
2,55,3,428547.7503,4.578095e+06,13/4/2018 0:00:00,NaN,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,NaN,NaN,400.0
3,75,4,431202.6671,4.582812e+06,16/4/2018 0:00:00,NaN,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN
4,76,5,431179.3580,4.582835e+06,16/4/2018 0:00:00,NaN,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN

In [11]:
if parquet_url:
    response = requests.get(parquet_url, headers={"Authorization": API_KEY})
    if response.status_code == 200:
        df_parquet = pd.read_parquet(io.BytesIO(response.content))
        print("‚úÖ Parquet loaded from private resource")
        display(df_parquet.head())
    else:
        print(f"‚ùå Failed to download Parquet: {response.status_code}")
else:
    print("‚ùå Parquet URL not found")

‚úÖ Parquet loaded from private resource

,Gis_ID,N_Gis,Gis_X,Gis_Y,Data d'Alta,Data de Baixa,Situaci√≥,Barri,Districte,Tipus,Quantitat,Mesura
0,53,1,428568.7713,4.578089e+06,13/4/2018 0:00:00,None,Tram,12. la Marina del Prat Vermell,03. Sants-Montjuic,Graons/Resalts,NaN,NaN
1,54,2,428561.4783,4.578085e+06,13/4/2018 0:00:00,None,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,None,NaN,NaN
2,55,3,428547.7503,4.578095e+06,13/4/2018 0:00:00,None,Cru√Ølla,12. la Marina del Prat Vermell,03. Sants-Montjuic,None,NaN,400.0
3,75,4,431202.6671,4.582812e+06,16/4/2018 0:00:00,None,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN
4,76,5,431179.3580,4.582835e+06,16/4/2018 0:00:00,None,Cru√Ølla,05. el Fort Pienc,02. Eixample,Accessible,NaN,NaN

In [12]:
parquet_url

'https://reallocate-ckan.iti.gr:443/dataset/0894c34d-1a60-46c5-b5fb-7d404fcb6595/resource/988cf370-f9c3-4d75-8153-a5b09388f572/download/streets_accessibility.parquet'